# --- Frontend (safe to expose to the browser) ---
NEXT_PUBLIC_SUPABASE_URL=https://dlhqluwnukpujdeiqpvg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRsaHFsdXdudWtwdWpkZWlxcHZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAyOTU2NTgsImV4cCI6MjEwNTg3MTY1OH0.mE-pQ1_6XvlGJb5zJE0xqtLZC4JbrF7WPhY2oyM_OGA
